@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;

    @media screen and (max-width:1080px){
        font-size: 92.75%;
    }

    @media screen and (max-width:780px){
        font-size: 87.5%;
    }
}

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime = "top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime = "left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime = "right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}