//AMISI
    @font-face {
        font-family: 'AmisiBlack';
        src: url(../../fonts/amisi/AmsiproBlack.otf);
    }

    @font-face {
        font-family: 'AmisiBold';
        src: url(../../fonts/amisi/AmsiproBold.otf);
    }
//AMISI

//GOTHAM
    @font-face {
        font-family: 'GothamBlack';
        src: url(../../fonts/gotham/GothamBlack.otf);
    }

    @font-face {
        font-family: 'GothamBold';
        src: url(../../fonts/gotham/GothamBold.otf);
    }
//GOTHAM